.vscode
**/__pycache__
**/*.py[ocd]
.cpython-39.pyc
.idea
**/*.sqlite3
env/
.ipynb_checkpoints
**/static
insecure_report.txt
bandit_report.txt
./venv
./.pytest_cache
.pytest_cache
venv
./htmlcov
htmlcov
**/*.csv
**/*.sql